/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

html{
  background-size: cover;
  background-color: #eae2b7;
}

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1{
  text-align: center;
  font-size: 40px;
  font-family: Arial;
}
h2{
  text-align: center;
  font-size: 36px;
  font-family: serif;
}
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  font-size: 22px;
}

nav{
  text-align: center;
}


article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: left;
  padding-left: 20px;
}


/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 100%;
  padding: auto;
  padding-right: 10px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  align-content: center;
  border: 2px solid;
  border-color: #003049;
  border-radius: 50%;
}

header{
  text-align: center;
}

footer{
  text-align: center;
  margin: auto;
  padding-left: 300px;
}

a{
  font-family: Arial;
}

a:link{color:#d62828}
a:visited{color:#d62828}
a:hover{color:#f77f00}

